@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-nav: var(--color-amber-500);
  --color-nav-active: var(--color-amber-600);
  --color-nav-hover: var(--color-amber-400);
  --color-nav-text: var(--color-black);
  --color-nav-text-muted: var(--color-amber-200);
  --color-nav-text-muted-hover: var(--color-amber-100);
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --color-nav: var(--color-amber-700);
  --color-nav-active: var(--color-amber-800);
  --color-nav-hover: var(--color-amber-600);
  --color-nav-text: var(--color-white);
  --color-nav-text-muted: var(--color-amber-200);
  --color-nav-text-muted-hover: var(--color-amber-100);
}

html {
  @apply bg-gray-100 dark:bg-stone-900;
}

body {
  @apply min-h-screen bg-gray-100 font-sans antialiased dark:bg-stone-900;
}

body:has(dialog[open]) {
  overflow: hidden;
}
