@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@custom-variant dark (&:where(.dark, .dark *));

html {
  @apply bg-gray-100 dark:bg-stone-900;
}

body {
  @apply min-h-screen bg-gray-100 font-sans antialiased dark:bg-stone-900;
}

body:has(dialog[open]) {
  overflow: hidden;
}
